.signup-container{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("/images/banner6.png");
  /* background: linear-gradient(135deg,#e6f7ff,#fff3e6); */
}

.signup-box{
  background: white;
  padding: 40px;
  width: 360px;
  border-radius: 12px;
  text-align: center;
  box-shadow: 0 10px 25px rgba(0,0,0,0.1);
}

.signup-box h2{
  margin-bottom: 20px;
  color: #ff6b6b;
}

.signup-box input{
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border-radius: 8px;
  border: 1px solid #ccc;
}

.signup-box button{
  width: 100%;
  padding: 10px;
  border: none;
  background: #ff6b6b;
  color: white;
  border-radius: 25px;
  cursor: pointer;
  margin-top: 10px;
}

.signup-box button:hover{
  background: #ff4b4b;
}

.login-link{
  margin-top: 15px;
}